/* Measured Dark by Measured (https://measured.co) */

.base00-bg { background-color: #00161a; }
.base01-bg { background-color: #04242a; }
.base02-bg { background-color: #00333c; }
.base03-bg { background-color: #a6a7a8; }
.base04-bg { background-color: #c8c9ca; }
.base05-bg { background-color: #e3e4e5; }
.base06-bg { background-color: #f2f3f4; }
.base07-bg { background-color: #f9fafb; }
.base08-bg { background-color: #fb625b; }
.base09-bg { background-color: #f89435; }
.base0A-bg { background-color: #b19202; }
.base0B-bg { background-color: #55a803; }
.base0C-bg { background-color: #05a5ad; }
.base0D-bg { background-color: #3598f8; }
.base0E-bg { background-color: #b776fb; }
.base0F-bg { background-color: #e56aac; }

.base00 { color: #00161a; }
.base01 { color: #04242a; }
.base02 { color: #00333c; }
.base03 { color: #a6a7a8; }
.base04 { color: #c8c9ca; }
.base05 { color: #e3e4e5; }
.base06 { color: #f2f3f4; }
.base07 { color: #f9fafb; }
.base08 { color: #fb625b; }
.base09 { color: #f89435; }
.base0A { color: #b19202; }
.base0B { color: #55a803; }
.base0C { color: #05a5ad; }
.base0D { color: #3598f8; }
.base0E { color: #b776fb; }
.base0F { color: #e56aac; }
