// Measured Dark by Measured (https://measured.co)

$base00: #00161a
$base01: #04242a
$base02: #00333c
$base03: #a6a7a8
$base04: #c8c9ca
$base05: #e3e4e5
$base06: #f2f3f4
$base07: #f9fafb
$base08: #fb625b
$base09: #f89435
$base0A: #b19202
$base0B: #55a803
$base0C: #05a5ad
$base0D: #3598f8
$base0E: #b776fb
$base0F: #e56aac
